
<div 
	id="{{mail.label_id+$index+randomdiv}}"
	class="inner_box" 
	ng-cloak 
	ng-init="enlarge=true;randomdiv=getRandomSpan()" 
	ng-repeat="panes in getPanes(length=getLength()) track by $index"
	ng-click="$event.stopPropagation(); $event.preventDefault();enlarge=false;" 
	ng-model="checked"
	ng-class="{'big_box':!enlarge,'inner_box':enlarge}"
	ng-if="showMessageContentForBox(count+(length-1)-$index)" container-style-directive>
	
	<label> {{showSendersIdForBox(count+(length-1)-$index)}}<label><br>
 	 {{showSubjectForBox(count+(length-1)-$index)}}<br>
  	{{showMessageContentForBox(count+(length-1)-$index) | limitTo:textLimit}}
  
 	 <button 
 	 ng-click="sendMarkAsRead(count+(length-1)-$index);$event.preventDefault();$event.stopPropagation();count=increment();"
 	 class="btn btn-success done_button">
 	 <span class="glyphicon glyphicon-ok"></span>
 	  	DONE
 	 </button>


 	<button ng-show="!enlarge"
 	ng-click="enlarge=true;$event.stopPropagation();$event.preventDefault();"
 	class="btn btn-default close_button">
 	<span class=" glyphicon glyphicon-zoom-out"></span>
 	CLOSE
 	</button> 
</div>
<div ng-if="checkIfEmailExistforLabel(mail.label_id)" class="label_message">
		Emails not found in this label!
</div>
