
<div ng-init="labelList=LoadAllLabels()" ng-cloak></div>
<div ng-repeat="label in labelList"  ng-if="!(label.label_id==labelId)" ng-cloak>      
	<small-widget-generator> </small-widget-generator> 
</div> 
