
<div   id="{{label.label_id}}" class="list-group-item active side-widget" ng-click="getWidgetDetail(label.label_id)">
	<div class="list-group-item-heading">
		 <span class="glyphicon glyphicon-envelope"></span> {{label.label_name}} 

	</div> 
</div> 
