<div ng-controller="TabsCtrl" ng-init="getWorkspaces()">
<tabset>
  <tab ng-repeat="workspace in workspaces"
       heading="{{workspace.name}}"
       active=workspace.active>
      <div ng-controller="MailCtrl" ng-init="labelsForworkspace=workspace.labelList;setLength(3);LoadWidgets();">
          <div>
               Workspace Name:
          </div>
          <input type="text" ng-model="workspace.name"/>
             <div ng-init="LoadAllLabels()">
              <div class="form_styler">
                <form novalidate class="css-form form-inline">
                 <select multiple ng-multiple="true"
                                  class="selelct-style"
                                  ng-model="selectedLabels"
                                  ng-options ="labels.label_name for labels in labelListings">
                 </select>

                 <input type="number"
                    ng-model="widgetLength"
                    min="1" 
                    max="8"  
                    required  
                    class="form-control select-style" /> 
                  <button ng-click="configureLabels();LoadWidgets();saveWorkspace($parent.workspace.id,$parent.workspace.name);setLength(widgetLength);" ng-disabled="!widgetLength" class="btn select-style">  LOAD</button>
               </form>
             </div> 
          <div ng-view> </div>
          </div>
           
      </div>
         
  </tab>
  <tab select="addWorkspace()">
      <tab-heading>
          <i><span class="glyphicon glyphicon-plus-sign"> </span></i>
      </tab-heading>
  </tab>
</tabset>
</div>