
<button  ng-click="goWidgetListPage()" class="btn btn-warning" ><span class="glyphicon glyphicon-step-backward"></span>Back</button>

<div class="clear-fix"></div>
<div id="mail-container-div">
	 
	<div class="side-pane-view"
      side-pane-view>
  </div>
	  
	<div ng-controller="MailCtrl as mail" 
	     ng-init="loadMailsForLabel(labelId);random=getRandomSpan()" 
	     class="label-mail-list"
	     id="{{labelId+random}}">

    <div ng-repeat="mail in mails.messages track by $index"
         class="detail-box" 
         ng-controller="MailWidgetCtrl"
	     ng-init="enlarge=true"
	     ng-click="$event.stopPropagation();enlarge=false;$event.preventDefault();" 
	     ng-model="checked"
	     ng-class="{'detail_big_box':!enlarge,'detail-box':enlarge}"
	     ng-show="showMessageContentForBox(bigViewCount+(mails.messages.length-1)-$index)"
	     container-style-directive 
	     id="{{mail.message_id+$index}}">
        	  {{showSendersIdForBox(bigViewCount+(mails.messages.length-1)-$index)}}<br>
        	  {{showSubjectForBox(bigViewCount+(mails.messages.length-1)-$index)}} <br>
        	  {{showMessageContentForBox(bigViewCount+(mails.messages.length-1)-$index)}}
	 <button 
 	 ng-click="sendMarkAsRead(bigViewCount+(mails.messages.length-1)-$index);$event.preventDefault();$event.stopPropagation();bigViewCount=bigViewIncrement();"
 	 class="btn btn-success done_button">
 	 <span class="glyphicon glyphicon-ok"></span>
 	  	DONE
 	 </button>

	<button ng-show="!enlarge"
 	ng-click="enlarge=true;$event.stopPropagation();$event.preventDefault();"
 	class="btn btn-default big_view_clsose_button">
 	<span class=" glyphicon glyphicon-zoom-out"></span>
 	CLOSE
 	</button>	

	</div>
    <div ng-if="checkIfEmailExistforLabel(labelId)" class="label_message">
			 Emails not found in this label!
	  </div>
  </div> 
</div> 