  <div ng-repeat="mail in labelsForworkspace" ng-cloak class="widget-container">
     <label ng-click="getWidgetDetail(mail.label_id);$event.stopPropagation();" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> {{mail.label_name}}</label>
     <widget-generator> </widget-generator> 
  </div> 
