/* app css stylesheet */
body{margin:10px !important;   word-wrap: break-word;}

.hr{
	height: 20px;
	clear: both;
}
.done_button{
 float: right;
}
.close_button{
    bottom: 4px;
    position: absolute;
    right: 4px;
}
.big_view_clsose_button{
	bottom: 7px;
    position: absolute;
    right: 333px;
}
.widget-container{
	float: left;
	margin-left: 15px;
    margin-top: 25px;
    padding-left: 9px;
}

.show_text{
 float: right; margin:5px auto;
}
.form-inline .form-control{
	vertical-align: top;
}
.select-style{
margin-top: 10px;
	vertical-align: top;
}
 .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }
  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
   .form-control {
   	margin: 10px;
   }
   .form_style{
   	border-top:5px;
   }
.box{
    background-color: #fff;
    border: 5px solid skyblue;
    border-radius: 4px;
    height: 300px;
    /*left: 15px;*/
    /*margin: 10px;*/
    position: relative;
    top: 15px;
    width: 600px;
    z-index: 1;
}

.detail-box{
    border-top-right-radius: 25px;
	border:1px solid; 
	z-index:2; 
	background:#fff;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
	overflow: auto;
}
.inner_box{
	border-top-right-radius: 25px;
	border:1px solid; 
	z-index:2; 
	background:#fff;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
}
.input_box{
float: left;
}
.form_styler{
 width:100%;
 height:100px;
 margin-top:10px;
}
.ng-binding.ng-scope{position: relative; float: left;margin-top:25px; }
.inner_box:hover{border:3px solid blue;cursor: pointer;}
.big_box{
	border-top-right-radius: 25px;
	border:3px solid #666;
	z-index:15;
	color:#ffffff;
	background: #428bca;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
	height:300px !important;
	width:600px !important;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	}

.detail_big_box{
	border-top-right-radius: 25px;
	border:3px solid #666;
	z-index:15;
	color:#ffffff;
	background: #428bca;
	float: left;
	left:0;
	bottom:0;
	border-bottom:0;
	border-left:0;
	margin-left: 0;
	overflow: auto;
	height:700px !important;
	width:700px !important;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.widget_div
{
	float:right;
	background-color: #fff;
    border: 5px solid ;
    border-radius: 4px;
    height: 900px;
    width:100px;
}
#mail-container-div{
	width: 100%;	
	height: 500px;
}
.label-mail-list{
	border-top-right-radius: 25px;
	 border: 5px solid skyblue;
	width: 700px;
	height: 700px;
	position:relative;
}
.mail-detail-container{
	width: 100%;
	clear: both;
}
.side-pane-view{
 position: absolute;
    right: 0;
    width: 25%;
}
.label_message{
	margin: 25%;
	color: red;
}
.small-box{
	background-color: #fff;
    border: 5px solid skyblue;
    border-radius: 4px;
    height: 100px;
    left: 15px;
    margin: 10px;
    position: relative;
    top: 15px;
    width: 150px;
    z-index: 1;
    float: left;
    text-align: center;
}
.mail-trails{
	padding: 20px;	 
	border:3px solid #666;    
	bottom:0;	
	width:100%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
   -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.done_button{
   bottom: 4px;
   left: 1px;
   position: absolute;

}
#login-container{
	text-align: center;
	padding-top: 5%;
	width: 80%;
	margin-left: 10%;
	 
	height: 500px;
}

.clear-fix{
	height: 10px;
	clear: both;
}

.side-widget{
	cursor: pointer;
	margin: 10px;
}
